.body-section {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.body-text {
  margin-bottom: 32px;
}

.body-header {
  font-weight: bold;
  font-size: 1.25rem;
}

.footer-icon {
  margin-top: auto;
}

.email-style {
  color: #70c0e8;
  text-decoration: underline;
  cursor: pointer;
}

.social-media-divider {
  padding-top: 16px;
  border-top: rgb(219, 219, 219);
  border-top-width: thin;
  border-top-style: solid;
}

.social-media-buttons {
  margin: 10px;
}

@media screen and (max-width: 550px) {
  .body-section {
    padding: 32px;
    min-height: calc(100vh - 64px);
  }
}
@media screen and (min-width: 550px) {
  .body-section {
    padding: 64px;
    min-height: calc(100vh - 128px);
  }
}